@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E28800;
  --secondary: #9D3C27;
  --paragraph: #857369;
  --yellow: #FFE999;
  --brown: #7F1C0B;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.btn-gradient {
  border-radius: 100px;
  background: var(--cta-gradient, linear-gradient(314deg, var(--secondary) 2.09%, var(--primary)  100%));
  box-shadow: 4px 4px 26px 0 rgba(229, 144, 4, 0.70);
  color: white;
}

.text-gradient {
  background: var(--cta-gradient, linear-gradient(314deg, var(--secondary) 2.09%, var(--primary)  100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
